<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a
        href="/"
        class="text-xl font-bold hover:text-gray-200 py-2 px-4 rounded transition duration-300"
        >airbnb</a
      >
    </div>
    <ul class="flex space-x-4">
      <li>
        <a
          href="/homes"
          class="hover:bg-white hover:bg-opacity-20 py-2 px-4 rounded transition duration-300"
          >Homes</a
        >
      </li>
      <li>
        <a
          href="/host/host-home-list"
          class="hover:bg-white hover:bg-opacity-20 py-2 px-4 rounded transition duration-300"
          >Host Home List</a
        >
      </li>
      <li>
        <a
          href="/host/add-home"
          class="hover:bg-white hover:bg-opacity-20 py-2 px-4 rounded transition duration-300"
          >Add Home</a
        >
      </li>
      <li>
        <a
          href="/favourites"
          class="hover:bg-white hover:bg-opacity-20 py-2 px-4 rounded transition duration-300"
          >Favourites</a
        >
      </li>
      <li>
        <a
          href="/bookings"
          class="hover:bg-white hover:bg-opacity-20 py-2 px-4 rounded transition duration-300"
          >Booking</a
        >
      </li>
    </ul>
  </nav>
</header>
