<%- include('../partials/head') %>
</head>
<body class="bg-gray-100">
    <%- include('../partials/nav') %>
    <header class="bg-white shadow-md py-4">
        <h1 class="text-red-700 text-4xl font-bold text-center">You Are in Home Details Page</h1>
        
    </header>
    <main class="container mx-auto px-4 py-8">
        <a href="/" class="inline-block bg-red-600 text-white px-6 py-2 rounded-lg hover:bg-red-700 transition duration-200 ease-in-out">Go to Home</a>
    </main>
    
</body>
</html>